body {
    background:#ffffff;
}

pre {
    border:none;
    border-radius:0;
    border-left:6px solid #ECECEC;
    padding-left:1em;
    margin:1em 0;
}

pre,code {
    background:#FCFAFA;
    color:#555;
}

h1 {
    background: url("img/bg-grid.png") transparent;
    color: #444444;
    margin-top: 0;
    padding-top: 20px;
}

.global li {
    list-style: square outside none;
}


.onlycode p  ,
.onlycode ul {
    display:none;
}
.onlycode pre {
    margin:0;
}

ul.posts li span.date {
    font-family: monospace;
}

ul.posts li {
    margin-bottom: .5em;
}

ul.posts.all a {
    padding-left:20px;
}
ul.posts.all li[lang] a {
    background:transparent left center no-repeat;
}
ul.posts.all li[lang="en"] a {
    background-image:url('img/en.png');
}
ul.posts.all li[lang="fr"] a {
    background-image:url('img/fr.png');
}

@media (min-width: 550px) {
    p {
        text-align:justify;
    }
}
@media (min-width: 768px) {
    .global {
        padding-bottom: 100px;
    }
    .container {
        width: 750px !important;
    }
}
@media (min-width: 992px) {
    body {
        background:url('img/paper.png') #fdfdfd;
    }
    .global {
        background:#fdfdfd;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        box-shadow: 1px 1px 5px 1px #AAAAAA;
        padding:0 5em 2em;
    }


}
