body {
    background:#ffffff;
}


pre {
    border:none;
    border-radius:0;
    border-left:6px solid #ECECEC;
    padding-left:1em;
    margin:1em 0;
}

pre,code {
    background:#FCFAFA;
    color:#555;
}

h1 {
    background: url("img/bg-grid.png") transparent;
    color: #444444;
    margin-top: 0;
    padding-top: 20px;
}

.global li {
    list-style: square outside none;
}


.onlycode p  ,
.onlycode ul {
    display:none;
}
.onlycode pre {
    margin:0;
}

ul.posts li span {
    font-family: monospace;
}

@media (min-width: 992px) {
    body {
        background:url('img/paper.png') #eee;
    }
    .global {
        background:#ffffff;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        box-shadow: 1px 1px 5px 1px #AAAAAA;
        padding:0 5em;
    }
    .container {
        width: 970px !important;
    }
    p {
        text-align:justify;
    }

}
