


@tempo: 22;
@baseBottomRows: 1;

// * Mixins

.vbox(@topRows: 0, @bottomRows: @baseBottomRows, @remove: 0, @localTempo: @tempo) {
    padding-top:   ((@topRows * @localTempo) - @remove) * 1px;
    margin-bottom: (@bottomRows * @localTempo) * 1px;
}

.vtext (@fontSize, @rows: 1, @topRows: 0, @bottomRows: @baseBottomRows, @remove: 0, @localTempo: @tempo) {
    font-size:     @fontSize * 1px !important;
    line-height:   (@rows * @localTempo) * 1px;
    padding-top:   ((@topRows * @localTempo) - @remove) * 1px;
    margin-bottom: (@bottomRows * @localTempo) * 1px;
}

.vfit (@fontSize, @topRows: 0, @bottomRows: @baseBottomRows, @remove: 0, @localTempo: @tempo) {
    font-size:     @fontSize * 1px !important;
    .fitLoop (@fontSize, 1, @localTempo);
    padding-top:   ((@topRows * @localTempo) - @remove) * 1px;
    margin-bottom: (@bottomRows * @localTempo) * 1px;
}

.vfit-debug (@fontSize, @topRows: 0, @bottomRows: @baseBottomRows, @remove: 0, @localTempo: @tempo) {
    font-size:     @fontSize * 1px !important;
    border-top:   ((@topRows * @localTempo) - @remove) * 1px solid rgba(255, 0, 100, 0.5);
    border-bottom: (@bottomRows * @localTempo) * 1px solid rgba(255, 255, 0, 0.5);
    .fitLoop (@fontSize, 1, @localTempo, true);
}

.fitLoop (@fontSize, @rows, @localTempo, @debug:false) when ((@rows * @localTempo) =< @fontSize) {
    .fitLoop(@fontSize, (@rows + 1), @localTempo, @debug);
}

.fitLoop (@fontSize, @rows, @localTempo, @debug:false) when ((@rows * @localTempo) > @fontSize) {
    line-height: (@rows * @localTempo) * 1px;
    .fitLoop-debug(@debug, @rows);
}

.fitLoop-debug(false,@rows){}
.fitLoop-debug(true,@rows){
    &::after {
        content: ' (@{rows} rows)';
    }
}

.vtext-debug (@fontSize, @rows: 1, @topRows: 0, @bottomRows: @baseBottomRows, @remove: 0, @localTempo: @tempo) {
    font-size:     @fontSize * 1px !important;
    line-height:   (@rows * @localTempo) * 1px;
    border-top:   ((@topRows * @localTempo) - @remove) * 1px solid rgba(255, 0, 100, 0.5);
    border-bottom: (@bottomRows * @localTempo) * 1px solid rgba(255, 255, 0, 0.5);
}


.vblock (@parent-font-size-px: @air-font-size, @rows: 1, @topRows: 0, @bottomRows: @baseBottomRows, @remove: 0) {
    height: (((@rows * @tempo) - @remove) / @parent-font-size-px) * 1em;
}

h1,h2,h3,h4,h5,h6,p,li,ul,blockquote,code,pre,a
{
    margin:0;padding:0;font-weight:400;
}

@tempo: 12;
@baseBottomRows: 2;
@serif: Georgia, 'Times New Roman', serif;
@sans: 'pt_sansregular', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
@titles: 'Bree Serif', serif;

body {
    font-family: @sans;
}

.global {
    font-family: @sans;
    .vtext(16)
}

.global{
     // background: url('img/bg-line-@{tempo}.png') white;
    // background: url('img/bg-line-24.png') white;
}

/* Font Scale
   6
   9.9
-- 16
   25.9
   41.9
   67.8
   109.65
*/

.global {

    h1,h2,h3,h4,h5,h6 {
        font-family: @titles;
        // font-weight: bold;
        // color:#515151;
    }

    h1 {
        .vfit(41,4);
        background:none;
    }

    h2 {
        .vfit(33,2);
        background:none;
    }

    h3 {
        .vfit(25.9);
        background:none;
    }

    p {
        .vfit(16);
    }

    p, li {
        code {
            vertical-align: bottom;
            // font-size:1em;
            position:relative;
            top:2px;
        }
    }

    .highlight pre {
        // .vbox(1);
        .vfit(12,1);
        padding-bottom: @tempo * 1px;
        padding-left: @tempo * 1px;
    }

    li {
        .vfit(16, 0, 1);
    }


    ul, ol {
        .vbox();
    }


    .mini {
        position:absolute;
        right: 87px;
        width:300px;
        padding:0px 10px 0;

        p {
            .vtext (12, 2, 0, @baseBottomRows, 0, 18);
            font-family: @serif;
            font-style: italic;
        }
    }
}
