<!doctype html>
<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}"/>

{% include head_common.html %}

{% include navbar.html %}


<div class="container global">
    <div class="post-content">
        {{ content }}
        {% include footer.html %}
        <p><b>Tags</b> : {% for cat in page.categories %}{{ cat }} {% endfor %}</p>
    </div>
</div>


<script>
    $(function(){
        $('#onlycode').on('click', function(evt) {
            evt.preventDefault();
            $('.global').toggleClass('onlycode');
        });
    });
</script>
